* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.data {
  padding: 20px;
}

.data h2 {
  margin: 10px 0;
}

.data h1 {
  text-align: center;
  margin: 20px;
}